<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
<add name="LUSIS_DBFacade" connectionString="metadata=res://*/LUSIS_EFModel.csdl|res://*/LUSIS_EFModel.ssdl|res://*/LUSIS_EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.3.71;initial catalog=LUSIS_DB;persist security info=True;user id=user;password=a1234567!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>